

head
  link(rel="stylesheet", href="../../stylesheets/login.css")

body#LoginForm
  .container
    .login-form
      .main-div
        .panel
          if info && info.message
            div.alert.alert-danger
              = info.message
          h2 Recuperación de password
          p Por favor, ingrese su email y le enviaremos a esa cuenta las instrucciones
        form#Login(action="/forgotPassword" method='post')
          .form-group
            input#email.form-control(type='email' placeholder='Email Addres' name="email")
          button.btn.btn-primary(type='submit') Resetar