

head
  link(rel="stylesheet", href="../../stylesheet/login.css")

body#LoginForm
  .container
    .login-form
      .main-dev
        .panel
          h2 Recuperación de password
          p Revise su cuenta de email, le llegarán alli las instrucciones de reseteo